header{
    background: #6867AC;
}
nav{
    background: #A267AC;
}
section{
    background: #CE7BB0;
    grid-column: 1/4;
}
aside{
    background: #FFBCD1;
    grid-column: 4/5;
}
footer{
    background: #6867AC;
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}